html, body {
	width: 100%;
	height: 100%;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f0f3f6;
}



.brand{
	margin-top: 3px;
	height: 52px;
}

#sidenav-overlay {
    z-index: 996;
}

.todas{
	margin-top: 30px;
}

.titleBrigadas{

	margin-top: 30px;
	margin-bottom: 15px;
}