html, body {
	width: 100%;
	height: 100%;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}



main {
    flex: 1 0 auto; 
}


.brand{
	margin-top: 3px;
	height: 52px;
}

#sidenav-overlay {
    z-index: 996;
}